.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    color: white;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.time-inputs {
    display: flex;
    gap: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
